# api-football-predictor/requirements.txt
# -----------------------------------------------------
# Liste des librairies Python nécessaires au projet
# -----------------------------------------------------

# Appels HTTP et gestion des clés
requests
python-dotenv
PyYAML
retry

# Manipulation de données
pandas
numpy

# Machine learning & deep learning
scikit-learn
tensorflow  # pour l'implémentation du LSTM

# Visualisation et dashboard
matplotlib
seaborn
plotly
streamlit

# Autres dépendances éventuelles
pytest  # recommandé pour les tests unitaires